@model TechXpress.Web.ViewModel.WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css?nonce=1745451675819">
<link href="~/css/wishlist.css" rel="stylesheet" />

<div class="container">
    <div class="wishlist-top"
        <h2 class="wishlist-title">Wishlist (@Model?.WishlistItems?.Count() )</h2>
        <button class="move-all-to-bag">Move All To Bag</button>
    </div>

    <div class="row">
        @if (Model != null && Model.WishlistItems != null && Model.WishlistItems.Any())
        {
            @foreach (var item in Model.WishlistItems)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="product-card">
                        <div class="img-wrapper">
                            @* <i class="far fa-eye eye-icon"></i> *@
                            @* style="position:absolute;top:60px; right:12px" *@

                            <div class="icon-overlay position-absolute top-0 end-0 m-2 d-flex gap-2">
                                <form method="post" asp-action="RemoveFromWishlist" asp-controller="WishList" asp-route-wishListItemId="@item.WishList_Item_ID">
                                    <button type="submit" class="far fa-trash-alt del-icon btn btn-link text-danger p-0" style="font-size: 1.5em; text-decoration: none; cursor: pointer; margin-top:-18px;"></button>
                                 </form>
                                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.Product.Id"
                                   
                                    class="text-secondary text-decoration-none fs-5"
                                    title="View Details"
                                    aria-label="View Details">
                                     <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <img src="@Url.Content("~/images/product/" + item.Product.Image)" style="position:center;"/>
                            <form method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.Product.Id">
                                <button type="submit" class="add-to-cart">Add to Cart</button>
                            </form>
                        </div>
                        <div class="product-info">
                            <h5 class="product-title">@item.Product.Name</h5>
                            <p class="product-price">$@item.Product.Price</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>Your wishlist is empty.</p>
            </div>
        }
    </div>

    <div class="section-title">
        <span class="just">Just For You</span>
        <span class="move-all-to-bag">See All</span>
    </div>
    <div class="row">
        @* Logic of for you *@
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1nqE596X69f1uwrpX4s+jywP4pP5e"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script>
