@*     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> *@
@*     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
@* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css?nonce=1745451675819"> *@
@*     <link href="~/css/wishlist.css" rel="stylesheet" /> *@
@*     <div class="container"> *@
@*         <div class="wishlist-top"> *@
@*             <h2 class="wishlist-title">Wishlist (4)</h2> *@
@*             <button class="move-all-to-bag">Move All To Bag</button> *@
@*         </div> *@

@*         <div class="row"> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@

@*                     <i class="far fa-eye eye-icon"></i> *@
@*                     <i class="far fa-trash-alt del-icon"></i> *@
@*                         <span class="discount">-35%</span> *@
@* 					<img src="~/images/product/07457c61-fe45-455f-a5a6-9fce4b682667.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">Gucci Duffle Bag</h5> *@
@*                         <p class="product-price">$960 <span class="small-text">$1160</span></p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                         <i class="far fa-eye eye-icon"></i> *@
@*                         <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@* 					 <img src="~/images/product/25e0a5d6-5154-45ce-a9ca-161096acc032.jpeg" style="background-color:black"/>  *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">RGB Liquid CPU Cooler</h5> *@
@*                         <p class="product-price">$1960</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@* 					<img src="~/images/product/ff07d5fd-2b23-4a90-890e-e2620eca3b21.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">GPII Shooter USB Gamepad</h5> *@
@*                         <p class="product-price">$550</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@* 					<img src="~/images/product/090849ec-70d2-4b8a-bd0a-a0c3b1f301e6.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">Quilted Satin Jacket</h5> *@
@*                         <p class="product-price">$750</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="section-title"> *@
@*             <span class="just">Just For You</span> *@
@*             <span class="move-all-to-bag">See All</span> *@
@*         </div> *@
@*         <div class="row"> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@*                         <span class="discount">-25%</span> *@
@* 					<img src="~/product/ed222807-8b3a-42bf-86a6-f13ee6b219ba.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">ASUS FHD Gaming Laptop</h5> *@
@*                         <p class="product-price">$960 <span class="small-text">$1760</span></p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@* 					<img src="~/product/b5d27624-b193-4d65-8c11-29fc0aa60e04.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">IPS LCD Gaming Monitor</h5> *@
@*                         <p class="product-price">$1160</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@*                         <span class="discount">NEW</span> *@
@* 					<img src="~/product/da6eac57-b91b-45aa-81f8-6185d4f60a6c.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">HAVIT HV-G92 Gamepad</h5> *@
@*                         <p class="product-price">$560</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6 col-md-4 col-lg-3"> *@
@*                 <div class="product-card"> *@
@*                     <div class="img-wrapper"> *@
@*                         <div class="top-right"> *@
@*                             <i class="far fa-eye eye-icon"></i> *@
@*                             <i class="far fa-trash-alt del-icon"></i> *@
@*                         </div> *@
@* 					<img src="~/product/07069433-3844-425d-abff-22b6b288ff73.jpeg" /> *@
@*                         <button class="add-to-cart">Add to Cart</button> *@
@*                     </div> *@
@*                     <div class="product-info"> *@
@*                         <h5 class="product-title">AK-900 Wired Keyboard</h5> *@
@*                         <p class="product-price">$200</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@

@*     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1nqE596X69f1uwrpX4s+jywP4pP5e" crossorigin="anonymous"></script> *@
@*     <script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script> *@
@model TechXpress.Web.ViewModel.WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css?nonce=1745451675819">
<link href="~/css/wishlist.css" rel="stylesheet" />

<div class="container">
    <div class="wishlist-top">
        <h2 class="wishlist-title">Wishlist (@Model?.WishlistItems?.Count )</h2>
        <button class="move-all-to-bag">Move All To Bag</button>
    </div>

    <div class="row">
        @if (Model != null && Model.WishlistItems != null && Model.WishlistItems.Any())
        {
            @foreach (var item in Model.WishlistItems)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="product-card">
                        <div class="img-wrapper">
                            @* <i class="far fa-eye eye-icon"></i> *@
                            @* style="position:absolute;top:60px; right:12px" *@

                            <div class="icon-overlay position-absolute top-0 end-0 m-2 d-flex gap-2">
                                <form method="post" asp-action="RemoveFromWishlist" asp-controller="WishList" asp-route-productId="@item.Product.Id">
                                    <button type="submit" class="far fa-trash-alt del-icon btn btn-link text-danger p-0" style="font-size: 1.5em; text-decoration: none; cursor: pointer; margin-top:-18px;"></button>
                                 </form>
                                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.Product.Id"
                                   
                                    class="text-secondary text-decoration-none fs-5"
                                    title="View Details"
                                    aria-label="View Details">
                                     <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <img src="@Url.Content("~/images/product/" + item.Product.Image)" style="position:center;"/>
                            <form method="post" asp-controller="Cart" asp-action="Index" asp-route-product_id="@item.Product.Id">
                                <button type="submit" class="add-to-cart">Add to Cart</button>
                            </form>
                        </div>
                        <div class="product-info">
                            <h5 class="product-title">@item.Product.Name</h5>
                            <p class="product-price">$@item.Product.Price</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>Your wishlist is empty.</p>
            </div>
        }
    </div>

    <div class="section-title">
        <span class="just">Just For You</span>
        <span class="move-all-to-bag">See All</span>
    </div>
    <div class="row">
        @* You can add logic here to display other recommended products *@
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1nqE596X69f1uwrpX4s+jywP4pP5e"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script>
